.cancel_button {
    border-width: 1px;
    border-radius: 20px;
    height: 40px;
    border-color: black;
    width: 150px;

}
.cancel_button:disabled {
    border-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}
.order_child {
    height: 133.2px;
}

.order_child::after {

    content: "";
    border-right-width: 1px;
    border-color: rgba(0, 0, 0, alpha);



}

.order {
    margin-top: 20px;
    border-top-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    padding-top: 25px;


}